body {
	padding: 10px;
}

h1 {
	position: relative;
	bottom: 0px;
	left: 0px;
	font-size: 48px;
	text-align: center;
}

h4 {
	padding-left: 25px;
}

#backIcon-Tuto {
	width: 72px;
	padding: 16px;
	position: absolute;
	left: -16px; /* To set on left border */
}

#backIcon-Tuto:hover {
	width: 82px;
	top:-5px;
}

#backIcon-Charge {
	width: 72px;
	padding: 16px;
	position: absolute;
	left: 0px;
}

#backIcon-Charge:hover {
	width: 82px;
	top:5px;
}
