img{
    width: 300px;
}

.photos #julien{
    width: 300px;
    margin-left: 100px;
}

.photos #jb{
    width: 300px;
    margin-left: 450px;
}

#nicolas{
    width: 300px;
    margin-left: 800px;
}

#antoine{
    width: 300px;
    margin-left: 1150px;
}

#louis{
    width: 300px;
    margin-left: 400px;
}

#baloo{
    width: 300px;
}

#matthieu{
    width: 300px;
}

#alexis{
    width: 300px;
}
